/* Colors */
$greenery: #83B14F;
$bronze-mist: #987F47;
$hydro: #486972;
$redwood: #A4564C;
$redwood-light: #EAD9D6;

$white: #fff;
$light-grey: #F3F5F4;
$grey: #CCC;
$black: #000;


/* Generell */
$body-bg: $light-grey;
$link-normal: $redwood;
$link-hover: $hydro;


/* Listing */
$listing-bg: $white;
$listing-item-box-bg: $light-grey;
$listing-item-box-title: $grey;

/* cart */
$button-minus: $redwood-light;
$button-plus: $greenery;
$button-delete: $redwood;