.cart {
  background-color: $listing-bg;
}

.cart--wrapper {
  padding: 20px;
}

.cart--table {
  width: 100%;
}

.cart--table-name {
  width: 50%;
}

.cart--table-quantity {
  width: 10%;
}

.cart--table-edit {
  width: 20%;
}

.cart--table-price {
  width: 10%;
}

.cart--table-total {
  width: 10%;
}

a.cart--edit-button {
  display: block;
  float: left;
  width: 30%;
  text-align: center;
  margin: 1.6%;
  font-size: 130%;

  color: $black;
}

a.cart--edit-button:hover {
  color: $white;
}

.cart--button-decrease {
  background-color: $button-minus;
}

.cart--button-increase {
  background-color: $button-plus;
}

.cart--button-delete {
  background-color: $button-delete;
}