.listing {
  background-color: $listing-bg;
}

.listing--wrapper {
  padding: 0 20px 20px;
}

li.listing--item-box {
  background-color: $listing-item-box-bg;
  margin-top: 20px !important;
}

a.listing--item-title {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  background-color: $listing-item-box-title;
}

img.listing--item-image {
  display: block;
  width: 125px;
  height: 110px;
  margin: 20px auto;
}

.listing--item-description {
  display: block;
  width: 160px;
  min-height: 50px;
  max-height: 50px !important;
  overflow: hidden;
  margin: auto;
  font-size: 80%;
}

.listing--item-color {
  height: 20px !important;
  margin-top: 20px;

  .right {
    width: 110px;
  }
}

.listing--item-price {
  height: 25px !important;

  .right {
    width: 55px;
  }
}

.listing--item-quantity {
  height: 25px !important;
  input {
    width: 55px;
    height: 25px;
  }
}

.listing--item-in-cart {
  width: 160px;
  height: 30px;
  margin: 20px;
  padding: 0;
}