/* Colors */
/* Generell */
/* Listing */
/* cart */
@import url(foundation.min.css);
/*
header {
  background-color: $header-bg-color;
}
*/
.listing {
  background-color: #fff; }

.listing--wrapper {
  padding: 0 20px 20px; }

li.listing--item-box {
  background-color: #F3F5F4;
  margin-top: 20px !important; }

a.listing--item-title {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  background-color: #CCC; }

img.listing--item-image {
  display: block;
  width: 125px;
  height: 110px;
  margin: 20px auto; }

.listing--item-description {
  display: block;
  width: 160px;
  min-height: 50px;
  max-height: 50px !important;
  overflow: hidden;
  margin: auto;
  font-size: 80%; }

.listing--item-color {
  height: 20px !important;
  margin-top: 20px; }
  .listing--item-color .right {
    width: 110px; }

.listing--item-price {
  height: 25px !important; }
  .listing--item-price .right {
    width: 55px; }

.listing--item-quantity {
  height: 25px !important; }
  .listing--item-quantity input {
    width: 55px;
    height: 25px; }

.listing--item-in-cart {
  width: 160px;
  height: 30px;
  margin: 20px;
  padding: 0; }

.cart {
  background-color: #fff; }

.cart--wrapper {
  padding: 20px; }

.cart--table {
  width: 100%; }

.cart--table-name {
  width: 50%; }

.cart--table-quantity {
  width: 10%; }

.cart--table-edit {
  width: 20%; }

.cart--table-price {
  width: 10%; }

.cart--table-total {
  width: 10%; }

a.cart--edit-button {
  display: block;
  float: left;
  width: 30%;
  text-align: center;
  margin: 1.6%;
  font-size: 130%;
  color: #000; }

a.cart--edit-button:hover {
  color: #fff; }

.cart--button-decrease {
  background-color: #EAD9D6; }

.cart--button-increase {
  background-color: #83B14F; }

.cart--button-delete {
  background-color: #A4564C; }

body {
  background-color: #F3F5F4;
  font-size: 100%; }

a {
  color: #A4564C; }
  a :hover {
    color: #486972; }

.row {
  max-width: 900px !important; }

.top-bar {
  max-width: 900px !important;
  margin: auto; }

ul.medium-block-grid-4 li {
  width: 200px !important;
  height: 410px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
