@import "_colors";
@import "foundation.min.css";
@import "header";
@import "listing";
@import "cart";

body {
  background-color: $body-bg;
  font-size: 100%;
}

a {
  color: $link-normal;

  :hover {
    color: $link-hover;
  }
}

.row {
  max-width: 900px !important;
}

.top-bar {
  max-width: 900px !important;
  margin: auto;
}

ul.medium-block-grid-4 {
  li {
    width: 200px !important;
    height: 410px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
  }
}